@model ChampionshipMvc3.Models.DataContext.Playfield

@{
    ViewBag.Title = "PlayfieldDetails";
}

<h2>PlayfieldDetails</h2>

<div>
    <label>@Html.DisplayFor(model => model.Name)</label>

    <div style="float:left">
        <img src="../../@Model.ImageLink" width="340" height="300" />
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <div class="display-label">FieldType: @Html.DisplayFor(model => model.FieldType)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">SurfaceType: @Html.DisplayFor(model => model.SurfaceType)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">Address: @Html.DisplayFor(model => model.Address)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">Length: @Html.DisplayFor(model => model.Length)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">Width: @Html.DisplayFor(model => model.Width)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">Neighbourhood: @Html.DisplayFor(model => model.Neighbourhood)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">Price: @Html.DisplayFor(model => model.Price)</div>
                </td>
            </tr>
        </table>
    </div>
</div>
<br />
<br />
<br />
<div>
    @Html.Partial("_Schedule", Model.Schedule)
</div>


